.tabela-card
  max-width: 100%

.titulo-tabela
  font: 500 19px/32px Roboto, "Helvetica Neue", sans-serif
  letter-spacing: normal

.background-tela
  background-color: #EFF1F5!important

.th.mat-header-cell
  text-align: center !important

a
  cursor: pointer

table
  width: 100%

.centre
  text-align: center!important
