<div
    fxFlex
    fxLayout="column"
>
    <div
        fxLayout="row"
        class="background-tela"
    >
        <div
            fxFlex="100"
            fxFlex.md="33"
            fxFle.sm="50"
            fxFlex.xs="100"
            fxLayout="column"
            style="padding: 15px"
        >
            <mat-card
                class="tabela-card"
                fxLayout="column"
            >
                <mat-card-header
                    fxLayoutAlign="center"
                    fxLayout="row"
                >
                    <div
                        fxLayoutAlign="start center"
                        fxFlex="90"
                        class="titulo-tabela"
                    >
                        Tabela Usuários
                    </div>
                    <div fxFlex="10">
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="openDialog('Adicionar',{})"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input
                            fxFlex="100"
                            matInput
                            (keyup)="applyFilter($event)"
                            placeholder="Ex. Mia"
                            #input
                        >
                    </mat-form-field>
                    <div class="tabela-container">
                        <table

                            mat-table
                            [dataSource]="dataSource"
                            #mytable
                            class="my-table mat-elevation-z8"
                        >
                            <ng-container matColumnDef="id">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    class="centre"
                                >
                                    ID
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let usuario"
                                    class="centre"
                                >
                                    {{usuario.id}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="nome">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    class="centre"
                                >
                                    Nome
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let usuario"
                                    class="centre"
                                >
                                    {{usuario.nome}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="acao">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    class="centre"
                                >
                                    Ação
                                </th>

                                <td
                                    mat-cell
                                    *matCellDef="let usuario"
                                    class="action-link centre"
                                >
                                    <a (click)="openDialog('Editar',usuario)">Editar</a>
                                    |
                                    <a (click)="openDialog('Excluir',usuario)">Excluír</a>
                                </td>

                            </ng-container>

                            <tbody>
                                <tr
                                    mat-header-row
                                    *matHeaderRowDef="displayedColumns"
                                ></tr>
                                <tr
                                    mat-row
                                    *matRowDef="let row; columns: displayedColumns;"
                                ></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr
                                    class="mat-row"
                                    *matNoDataRow
                                >
                                    <td
                                        class="mat-cell"
                                        colspan="4"
                                    >
                                        No data matching the filter "{{input.value}}"
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
