<h1 mat-dialog-title>Ação: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Excluir'; else elseTemplate">
    <input placeholder="{{action}} Usuário" matInput [(ngModel)]="local_data.nome">
  </mat-form-field>
  <ng-template #elseTemplate>
    Tem certeza que deseja deletar: <b>{{local_data.nome}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
</div>
