<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-primary" color="primary" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="titulo-menu">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="usuarios/home">Home</a>
      <a mat-list-item routerLink="usuarios/usuarios-card">Usuarios</a>
      <a mat-list-item routerLink="usuarios/tabela">Tabela</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="wrapper">
    <mat-toolbar class="layout-navbar">
      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <span>Tela Teste</span>
    </mat-toolbar>
       <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
