$color-sidebar: #404E67

.sidenav-container
  height: 100%

.sidenav
  width: 200px

  & .mat-toolbar
    background: inherit

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.mat-drawer
  background-color: $color-sidebar

.mat-list-base .mat-list-item
  color: #DCDCDC

.mat-toolbar
  color: black

.layout-navbar
  background-color: #ffff

// .borda-navbar
//   box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%)

// .wrapper
//   display: flex
//   flex-direction: row
//   justify-content: flex-start
//   flex-basis: 100%
//   align-items: stretch
//   flex-wrap: wrap
//   overflow: hidden

.titulo-menu
  color: white
//   color: rgba(0,0,0,.87)
