<div fxFlex fxLayout="column">
  <div fxLayout="row wrap">
    <!--No nosso flex Layout dividimos o tamanho da coluna (100px) por 25 cada
          vai ocupar 3   direção dele é coluna
    -->
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFle.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      *ngFor="let usuario of obs |async"
      style="padding: 15px"
    >

      <mat-card class="usuario-card">
        <mat-card-header>
          <img mat-card-avatar src={{usuario.picture.thumbnail}} alt="Photo of a Shiba Inu" class="example-header-image"/>
          <mat-card-title>{{usuario.name.first}} {{usuario.name.last}}</mat-card-title>
          <mat-card-subtitle fxLayout="row" >
            <mat-icon aria-label="Side nav toggle icon">assignment_ind</mat-icon>
            <span fxLayoutAlign="space-around center">
              {{usuario.login.username}}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src={{usuario.picture.large}}
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>



